* {
  box-sizing: border-box;
}

html {
  // Since rem measure is 16px, then 16 * .625 = 10, so we can use 1 rem as 10 of a pixels
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
  // color: green;
}
